<ion-header>
  <ion-toolbar color="primary">
      <ion-title>
          Digiwork Dynamic - Create
      </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


        <ion-card>        
          <ion-card-content>
                  <div class="mb-3">
                    <label class="form-label">Nomor Pokok Mahasiswa</label>
                    <div class="border-left border-bottom border-right">
                      <ion-input clearInput [(ngModel)]="npm" value="clear me"></ion-input>
                    </div>
                    <div id="emailHelp" class="form-text"><i>Silahkan masukan dengan format, ex: 112233 </i></div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Nama Lengkap Mahasiswa</label>
                    <div class="border-left border-bottom border-right">
                      <ion-input clearInput [(ngModel)]="nama" value="clear me"></ion-input>
                    </div>
                    <div id="emailHelp" class="form-text"><i>Nama lengkap jangan disingkat</i></div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Jurusan Mahasiswa</label>
                    <div class="border-left border-bottom border-right">
                      <ion-input clearInput [(ngModel)]="jurusan" value="clear me"></ion-input>
                    </div>
                    <div id="emailHelp" class="form-text"><i>Silahkan masukan dengan format, ex: TI, SI, TEKIN</i></div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Prodi Mahasiswa</label>
                    <div class="border-left border-bottom border-right">
                      <ion-input clearInput [(ngModel)]="prodi" value="clear me"></ion-input>
                    </div>
                    <div id="emailHelp" class="form-text"><i>Silahkan masukan dengan format, ex: Teknik Informatika, Sistem Informasi, Teknologi Informasi</i></div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Kelas</label>
                    <div class="border-left border-bottom border-right">
                      <ion-input clearInput [(ngModel)]="kelas" value="clear me"></ion-input>
                    </div>
                    <div id="emailHelp" class="form-text"><i>Silahkan masukan dengan format, ex: A, B, C, D</i></div>
                  </div>
                  <button type="submit" (click)="submit()" routerLink="./tab1" class="btn btn-primary">Simpan Data</button>
         </ion-card-content>
        </ion-card>





</ion-content>
