<ion-header>
  <ion-toolbar color="primary">
      <ion-title>
          Digiwork Dynamic - Tutorial
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Information</ion-card-subtitle>
    <ion-card-title>Practical Specifications</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    This practicum consists of an API made from PHP using the CodeIgniter framework and Mobile itself from the Ionic framework which includes HTML5 and Angular languages.
  </ion-card-content>
</ion-card>
  
</ion-content>
